<h1>Hey Tamanna</h1>

<p>
  Some things feel better<br />
  when you let them arrive slowly.<br />
  and I promise it’ll be worth the wait.
</p>

<div class="countdown">
  <div class="time-box">
    <span id="days">0</span>
    <small>Days</small>
  </div>
  <div class="time-box">
    <span id="hours">0</span>
    <small>Hours</small>
  </div>
  <div class="time-box">
    <span id="minutes">0</span>
    <small>Minutes</small>
  </div>
  <div class="time-box">
    <span id="seconds">0</span>
    <small>Seconds</small>
  </div>
</div>